.checkbox-wrap {
  padding: 10px 0px;
}

  .checkbox-wrap > input[type="checkbox"] {
    display: none;
  }

  .checkbox-wrap > input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #9ABBCE;
  }

  .checkbox-wrap > input[type="checkbox"]:checked + label span {
    background: url(checkbox.png) center center no-repeat;
    border: 1px solid #2196F3;
  }